main{
  height: 90%;
  /* border: blue solid 1px; */

  display: flex;
  align-items: center;
  justify-content: center;
}
.header .menu-header a:hover{
  margin-top: 10px;
  transition: .3s;
}
.profile{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile .describe-img img{
  width: 300px;
  height: 350px;

  border-radius: 50%;

  margin-left: 350px;
}
.description{
  width: 50%;
  height: 90%;

  /* border: solid 1px red; */

  margin-right: 250px;
}
.sidebar{
  position: fixed;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #363636;
}
.sidebar header{
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
}
.sidebar ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidebar ul li i{
  
}



