@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body{
background: #f0f0f5;
-webkit-font-smoothing: antialiased;
}
a,i,h1, h2, h3{
  color: #fdfbfb;
  font: 500 15px 'Poppins';
}