@media(max-width:992px){
  .header{
/*    background: green;*/
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header .menu-header{
    width: 100%;

    display: flex;
    justify-content: space-between;
  }
  .header .email-header{
    /*background: greenyellow;*/
    width: 100%;
    
    display: flex;
    flex-direction: column;
  }
  .header .email-header img{
    display: none;
  }
  .header .email-header a img.face-header{
    display: none;
  }
  .header .email-header a img.insta-header{
    display: none;
  }
  .header .email-header h3{
    margin-top: 10px;
  }
@media(max-width:360px){
  .header .contact-header h3{
    font-size: 7.87px;
  }
  .header .email-header h3{
    font-size: 7.87px;
  }
}
}
@media(max-width:1887px){
  .header .email-header img {
    display: none;
  }
  .header .email-header a{
    display: none;
  }
  .header .email-header h2{
    display: none;
  }
}
@media(max-width:1387px){
  .header .email-header{
    
  }
}